<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
    {# Main menu#}
    <div class="topnav">
        <a href="/ministrant">Dodaj ministranta</a>
        <a href="/msza">Msze</a>
        <a href="/sluzba">Służby</a>
        <a href="/obecnosc">Zarejestruj obecność</a>
    </div>
    {%  block body %}
    {%  endblock %}
</body>
</html>