<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h1>Menu</h1>
    <a href="index.html">Dodaj Ministranta</a>
    <a href="msze.html">Msze</a>
    <h1>Strona główna</h1>
    <form action="ministrant" method ="post">
        <input type="text" id="imie" name="imie">
        <input type="text" id="nazwisko" name="nazwisko">
        <input type="submit" value="Dodaj ministranta">
    </form>
    <table id="listaMinistrantow">
        <caption>Lista ministrantów</caption>
        <tr>
            <th>Imię</th>
            <th>Naziwsko</th>
        </tr>
        {% for ministrant in ministranci %}
            <tr>
                <td>{{ ministrant["imie"] }}</td>
                <td>{{ ministrant["nazwisko"] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>