{% extends "base.html" %}

{% block body %}
    {# Main page#}
    <h1>Msze</h1>
    <form action="msza" method="post">
        <select id="dzien_tygodnia" name="dzien_tygodnia">
            <option>Poniedziałek</option>
            <option>Wtorek</option>
            <option>Środa</option>
            <option>Czwartek</option>
            <option>Piątek</option>
            <option>Sobota</option>
            <option>Niedziela</option>
        </select>
        <label for="godzina">Godzina:</label>
        <input type="text" id="godzina" name="godzina" required pattern="^([0-1][0-9]|2[0-3]):[0-5][0-9]$">
        <input type="submit" value="Dodaj msze">
    </form>
    {#Table #}
    <table id="listaMszy">
        <caption>Lista mszy</caption>
        <tr>
            <th>Dzień</th>
            <th>Godzina</th>
        </tr>
        {% for msza in msze %}
            <tr>
                <td>{{ msza["dzien_tygodnia"] }}</td>
                <td>{{ msza["godzina"] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}