<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Msze</title>
</head>
<body>
{# Main menu#}
<h1>Menu</h1>
<a href="/">Dodaj Ministranta</a>
<a href="/msze">Msze</a>
<a href="/sluzby">Sluzby</a>

{# Main page#}
<h1>Msze</h1>
<form action="msza" method="post">
    <input type="text" id="dzien_tygodnia" name="dzien_tygodnia" list="dni-tygodnia" />
    <datalist id="dni-tygodnia">
        <option>Poniedziałek</option>
        <option>Wtorek</option>
        <option>Środa</option>
        <option>Czwartek</option>
        <option>Piątek</option>
        <option>Sobota</option>
        <option>Nieidzela</option>
    </datalist>
    <input type="text" id="godzina" name="godzina">
    <input type="submit" value="Dodaj msze">
</form>
<table id="listaMszy">
    <caption>Lista mszy</caption>
    <tr>
        <th>Dzień</th>
        <th>Godzina</th>
    </tr>
    {% for msza in msze %}
        <tr>
            <td>{{ msza["dzien_tygodnia"] }}</td>
            <td>{{ msza["godzina"] }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>