<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Sluzbe</title>
</head>
<body>
{# Main menu#}
    <h1>Menu</h1>
    <a href="/">Dodaj Ministranta</a>
    <a href="/msza">Msze</a>
    <a href="/sluzba">Służby</a>

{# Main page#}
<h1>Służby</h1>
<form action="sluzba" method="post">
{#    <input type="text" id="ministrant" name="ministrant" list="ministranci"/>#}
    <select id="ministrant" name="ministrant">
    {% for ministrant in ministranci %}
        <option value="{{ministrant["_id"]}}">{{ ministrant["imie"] }} {{ ministrant["nazwisko"] }}</option>
    {% endfor %}
    </select>
{#    <input type="text" id="dzien_tygodnia" name="dzien_tygodnia" list="msze-tygodnia"/>#}
    <select id="msza" name="msza">
    {% for msza in msze %}
        <option value="{{msza["_id"]}}">{{ msza["dzien_tygodnia"] }} {{ msza["godzina"] }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Dodaj służbę">
</form>
<table id="lista_sluzb">
    <caption>Lista służb</caption>
    <tr>
        <th>Ministrant</th>
        <th>Msza</th>
    </tr>
    {% for sluzba in sluzby %}
        <tr>
            <td>{{ sluzba["ministrant_id"] }}</td>
            <td>{{ sluzba["msza_id"] }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>