<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Sluzbe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{# Main menu#}
<div class="topnav">
    <a href="/">Dodaj Ministranta</a>
    <a href="/msza">Msze</a>
    <a href="/sluzba">Służby</a>
</div>

{# Main page#}
<h1>Służby</h1>
<form action="sluzba" method="post">
    {#    <input type="text" id="ministrant" name="ministrant" list="ministranci"/>#}
    <select id="ministrant" name="ministrant">
        {% for ministrant in ministranci %}
            <option value="{{ ministrant["_id"] }}">{{ ministrant["imie"] }} {{ ministrant["nazwisko"] }}</option>
        {% endfor %}
    </select>
    {#    <input type="text" id="dzien_tygodnia" name="dzien_tygodnia" list="msze-tygodnia"/>#}
    <select id="msza" name="msza">
        {% for msza in msze %}
            <option value="{{ msza["_id"] }}">{{ msza["dzien_tygodnia"] }} {{ msza["godzina"] }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Dodaj służbę">
</form>
    <p> ggg{{ sluzby_display }}</p>
<table id="lista_sluzb">
    <caption>Lista służb</caption>
    <tr>
        <th>Ministrant</th>
        <th>Msza</th>
    </tr>
    {% for sluzba in sluzby %}
        <tr>
            <td>{{ sluzba["ministrant"] }}</td>
            <td>{{ sluzba["msza"] }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>